* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.tab-con {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ima {
  height: 250px;
  width: 250px;
  margin-top: 40px;
}
